.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.Renviron
counts_long.parquet

local-data/
local-cache/
local-etl/
check/
examples/
*.fastq
*.csv.gz
docs
inst/doc
/doc/
/Meta/

src/*.o
src/*.so
src/*.dll
src/*.a
src/*.dSYM
src/*.gcda
src/*.gcno

.swp
CLAUDE.md

vignettes/delta-calibration-data/

library-metadata/combined_libraries_11.10.25.rds
library-metadata/combined_library_15.01.26.rds
